<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/webjars/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"/>
    </head>
    <body>
        <h1>Ahaza</h1>
        <table class="table table-hover" th:unless="${projects.isEmpty()}" >
          <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Status</th>
                <th>Nota</th>
                <th>Editar</th>
                <th>Excluir</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="project : ${projects}">
                <td th:text="${project.name}"/>
                <td th:text="${project.description}"/>
                <td th:text="${project.status}"/>
                <td th:text="${project.nota}" />
                <td>
                    <a th:text="edit" th:href="@{'/project/edit/' + ${project.id}}" />
                </td>
                <td><a th:text="delete" th:href="@{'/project/delete/' + ${project.id}}" /></td>
            </tr>
          </tbody>
        </table>
    </body>
</html>
