<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        
        <table>
        <th:block th:each="person : ${listPerson}">
           <tr>
              <td th:text="${person.id}">...</td>
              <td th:text="${person.name}">...</td>
           </tr>
        </th:block>
        </table>
    </body>
</html>
