<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <h1>Editar Projeto</h1>

        <form action="#" th:action="@{/save-project}" th:object="${project}" method="post">
            <input type="hidden" th:field="*{id}" />
            <p>Nome: <input type="text" th:field="*{name}" /></p>
            <p>Aluno: <input type="text" th:value="${project.getStudent().getName()}" readonly="readonly" /></p>
            <input type="hidden" th:id="student" th:name="student" th:value="${project.getStudent().getId()}" />
            <p>Orientador: <input type="text" th:value="${project.getOrientador().getName()}" readonly="readonly" /></p>
            <input type="hidden" th:id="orientador" th:name="orientador" th:value="${project.getOrientador().getId()}" />
            <p>Descrição: <textarea type="textarea" th:field="*{description}" /></p>
            <p>Nota: <input type="text" th:field="*{nota}" /></p>
            <input type="submit" value="Submit" /> <input type="reset" value="Reset" />
        </form>
    </body>
</html>
