<!DOCTYPE HTML>
<html>
<head>
    <head th:replace="fragments/header :: head"/>
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"/>

    <div class="container">

        <h1 th:if="${session.userLogged}">Olá <span th:text="${session.userLogged} ? ${session.userLogged.getName()} : ''" /> !</h1><br /><br />

        <h2>Últimos projetos</h2>

        <span th:if="${projects.isEmpty()}">Não há projetos cadastrados</span>
        <table class="table table-hover" th:unless="${projects.isEmpty()}" >
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Aluno</th>
                    <th>Orientador</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="project : ${projects}">
                    <td th:text="${project.name}"/>
                    <td th:text="${project.description}"/>
                    <td th:text="${project.student} ? ${project.student.name} : ''" />
                    <td th:text="${project.orientador} ? ${project.orientador.name} : ''" />
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>