<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Olá <span th:text="${session.userLogged} ? ${session.userLogged.getName()} : ''" /> !</h1>

    <div th:unless="${session.userLogged}">
        <a href="sign-in">Sign In</a>
        <a href="login">Log In</a>
    </div>

    <div th:if="${session.userLogged}">
        <a href="my-projects">My Projects</a>
        <a href="add-project">Add Project</a>
        <a href="logout">Logout</a>
    </div>
    
</body>
</html>