<!DOCTYPE html>
<html>
<head>
    <head th:replace="fragments/header :: head"/>
    <body>
        <div th:replace="fragments/navbar :: navbar"/>

        <div class="container">
            <h1>Agendar Defesa</h1>

            <form action="#" th:action="@{/project/invite-board-examining}" th:object="${examiningBoard}" method="post">
                <input class="form-control" type="hidden" th:field="*{id}" />
                <div class="form-group">
                    <label>Membro:</label>
                    <select class="form-control" th:field="*{teacher}">
                        <option th:each="selected_teacher : ${listTeachers}" th:value="${selected_teacher.id}" th:text="${selected_teacher.name}"/>
                    </select>
                </div>
                <input class="form-control" type="hidden" th:id="project" th:name="project" th:value="${project_id}" />
                <button class="btn btn-primary" type="submit">Submit</button>
                <button class="btn" type="reset">Reset</button>
            </form>
        </div>
    </body>
</html>
